<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 text-center">
  <h1 class="display-4">About Me</h1>
  <p class="lead">My Name is Kadir KALKAN.
  	I'm a developer with over 3 years of experience. <br>I worked on different companies and took some serious roles on projects about optimization, stock analysis, E-Commerce etc.<br>
	I am currently teaching Full Stack Developer Course about .Net Technologies. <br>But mostly interested with Back End Development. </p>
</div>

<div class="container">
  <div class="row row-cols-2 text-center">
    <div class="col">
 	   <div class="card">
 	     <div class="card-header">
 	       <h4 class="my-0 font-weight-normal">Personal Website</h4>
 	     </div>
 	     <div class="card-body">
 	       <ul class="list-unstyled mt-3 mb-4">
 	         <li><b><i>If you want to learn more details about me</i></b></li>
 	         <li><br></li>
 	         <li>You can click the button below</li>
 	         <li>To reach my personal <b>Website</b></li>
 	       </ul>
 	       <a href=<%= @url %> class="btn btn-lg btn-block btn-primary">Go To Website</a>
 	     </div>
 	   </div>
    </div>
     <div class="col">
 	   <div class="card">
 	     <div class="card-header">
 	       <h4 class="my-0 font-weight-normal">Github</h4>
 	     </div>
 	     <div class="card-body">
 	       <ul class="list-unstyled mb-4">
 	         <li class="mb-2"><b><i>For more details about this project</i></b></li>
 	         <li><br></li>
 	         <li>You can check my <a class="btn btn-sm btn-outline-primary" href=<%= @github %>><i class="fab fa-github"> <b>github</b></i></a> profile</li>
 	         <li class="mb-1" style="font-weight: 900; font-size: 25px;"><b><u>or</u></b></li>
 	         <li>Directly this website's <a class="btn btn-sm btn-outline-primary" href=<%= @source %>><i class="fas fa-code"> source codes</i></a></li>
 	       </ul>
 	     </div>
 	   </div>
    </div>
  </div>

</div>